.header{
  display:flex;
  height:60px;
  justify-content:space-between;
  flex-direction:row;
  position:fixed;
  left:0;
  right:0;
  top:0;
  background-color: white;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(221, 221, 221);
  z-index:100;
}
.left-side{
  margin-right:50px;
  display:flex;
  align-items: center;
}
.hamburger-menu{
  height:24px;
  margin-left:24px;
  margin-right:24px;
}
.youtube-logo{
  height:20px;
}

.middle{
  flex:1;
  max-width:500px;
  display:flex;
  align-items:center;
}
.search-box{
  flex:1;
  height:36px;
  padding-left:10px;
  font-size:16px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(189, 189, 189);
  border-radius:2px;
  width:0;
  box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
}
.search-box::placeholder{
  font-family:Roboto,Arial;
  font-size:16px;
}
.search-button{
  height:40px;
  width:66px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(189, 189, 189);
  background-color:rgb(247, 247, 247);
  margin-left:-1px;
}
.search-image{
  height:25px;
  margin-top:4px;
}
.voice-search-button{
  height:40px;
  width:40px;
  margin-left:10px;
  border-radius:20px;
  border:none;
  background-color:rgb(247, 247, 247);
}
.voice-search-image{
  height:24px;
  margin-top:4px;
}

.right-side{
  width:180px;
  margin-left:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right:20px;
  flex-shrink:0;
}
.upload-icon{
  height:23px;
}
.youtube-apps-icon{
  height:23px;
}
.notifications-icon{
  height:23px;
}
.notifications-icon-container{
  position:relative;
}
.notifications-count{
  position:absolute;
  background-color:rgb(212, 30, 30);
  color:white;
  top:-2px;
  right:-4px;
  font-family:Roboto,Arial;
  font-weight:500;
  font-size:10px;
  border-radius:10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.channel-icon{
  height:30px;
  width:30px;
  border-radius:15px;
}